br{display:block; line-height:1.6em;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
/*ol,ul{list-style:none;}*/
input,textarea{-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:''; content:none;}
strong,b{font-weight:bold;}
em,i{font-style:italic;}
table{border-collapse:collapse; border-spacing:0;}
img{border:0; max-width:100%;}

#w{display:block; margin:0 auto; padding:2px 3px;}
.slidernav a{padding:0;}
@media (min-width:320px){#w{max-width:300px;} .slidernav a{padding:5px 8px;}}
@media (min-width:768px){#w{max-width:650px;}}
@media (min-width:992px){#w{max-width:830px;}}

.crsl-items{display:block; padding:5px 5px 5px 0;}
.crsl-item .thumbnail{display:block; position:relative; margin-bottom:10px; cursor:pointer;}
.crsl-item .thumbnail img{display:block; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; transition:all 0.3s linear;}
.crsl-item .thumbnail:hover img{opacity:0.8;}
.crsl-item h3{font-family:'Oswald','Trebuchet MS',Helvetica,sans-serif; font-size:1.95em; line-height:1.25em; margin-bottom:12px;}
.crsl-item h3 a{text-decoration:none; color:#333;}
.crsl-item h3 a:hover{text-decoration:underline;}
.crsl-item .postdate{display:block; position:absolute; bottom:0; right:0; padding:6px; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.4); font-size:1.2em; font-weight:bold; background:#4e90da;}
.crsl-item p{font-size:1.2em; line-height:1.55em; margin-bottom:5px;}
.crsl-item p.readmore a{display:block; float:right; color:#4e90da; padding:3px 5px; text-decoration:none; font-weight:bold; -webkit-border-radius:3px; -moz-border-radius:4px; border-radius:4px;}
.crsl-item p.readmore a:hover{background:#4b6caa; color:#fff;}

.slidernav{display:block; text-align:center; margin-bottom:5px; margin:-225px auto 210px 0;}
.slidernav a{display:inline-block; font-size:1.4em; color:#666; text-decoration:none;}
.slidernav a.previous{position:absolute; text-align:left;}
.slidernav a.next{position:absolute; text-align:right;}
.slidernav a:active{}
.crsl-wrap a{padding:0; margin:0; clear:both; display:block; padding:0;}
.crsl-wrap ul{padding:0; margin:0; background:blue;}
.crsl-wrap ul li{float:left; list-style:none; padding:0; margin:0; font-size:18px;}
.crsl-wrap ul li a{margin:3px 1px; padding:0; color:#c8c8c8; border:1px solid #c8c8c8; width:28px; height:28px; line-height:28px;}
.crsl-wrap ul li a:hover{color:#ffffff; border:1px solid #e46142; background:#e46142;}

@media screen and (max-width:660px){h1{font-size:2.4em; line-height:1.2em;} .crsl-item h3{font-size:1.65em;}}

.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.clearfix{display:inline-block; width:100%;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

@import url(/fonts/google-font-titillium-web.css);

#sidebar {
    padding-top:0;
  }
  #sidebar .nav>li {
    color: #ddd;
    
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar ul.nav > li >a {
    /***color: #ddd;***/
    color: #126acb;
    padding: 5px 15px;
  }

#sidebar ul.nav > li.current {
  text-decoration: none;
  color: #008CBA;  
  background-color:#efefef;
}

.#sidebar ul.nav > li:hover {
  text-decoration: none;
  color: #008CBA;  
  margin-right: 20px;
  background-color:#efefef;
}

  #sidebar li.divider {
    margin: 16px 20px 16px 0px;
  }
  
.divider{
	  border-top: 1px solid;
    height: 0;
    list-style: none;
    padding: 0;
    border-top-color: #e6e6e6;
}

#sidebar li.heading {
    /*color: #008CBA;*/
    color: #126acb;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

#sidebar .heading{
    padding: 2px 0px;
}

.page-content {
	padding-top: 30px ;
  padding-bottom: 40px ;
  
}

.page-main-content h1{
  text-align: left
}

.social-buttons > a{
  color:white;
  margin:auto 2px;
}

.social-buttons > a:hover{
  color: #126acb;
}

.social-buttons > a > i{
  font-size: 1.2em;
}

.page-main-content h2{
  margin:5px auto;
}

.page-main-content  td{
  padding: 3px;
}


.page-main-content h3{
  margin:5px auto;
}