<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<div class="box box-primary">
	<div class="box-header with-border">
		<i class="fa fa-list-alt"> </i>
		<h3 class="box-title">
			{{dataSource || "All Alerts"}}
			<div class="btn-group">
				<button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-caret-down"></i>
				</button>
				<ul id="programList" class="dropdown-menu" role="menu">
					<li ng-repeat="dataSrc in site.current().dataSrcList">
						<a href="#/dam/alertList/{{dataSrc.tags.dataSource}}">{{dataSrc.tags.dataSource}}</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#/dam/alertList">All Policy List</a>
					</li>
				</ul>
			</div>
		</h3>
	</div>
	<div class="box-body">
		<p ng-show="!alertList.ready">
			<span class="fa fa-refresh fa-spin"> </span>
			Loading...
		</p>

		<div sorttable source="alertList" sort="-timestamp">
			<table class="table table-bordered" ng-non-bindable>
				<thead>
					<tr>
						<th width="170" sortpath="timestamp">Alert Time</th>
						<th width="170" sortpath="alertContext.properties.timestamp">Message Time</th>
						<th width="105" sortpath="tags.dataSource">Data Source</th>
						<!--th width="70" sortpath="severity">Type</th-->
						<th width="150" sortpath="tags.policyId">Policy Name</th>
						<th width="60" sortpath="alertContext.properties.user">User</th>
						<th width="150" sortpath="alertContext.properties.host">Host</th>
						<th sortpath="alertContext.properties.emailMessage">Description</th>
						<th width="50"> </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{info : item.__new}">
						<td>{{common.format.date(item.timestamp)}}</td>
						<td>{{common.format.date(item.alertContext.properties.timestamp)}}</td>
						<td>{{item.tags.dataSource}}</td>
						<!--td>{{item.severity}}</td-->
						<td class="text-nowrap">
							<a class="fa fa-share-square-o" ng-show="item.tags.policyId"
							href="#/dam/policyDetail/?policy={{item.tags.policyId}}&site={{item.tags.site}}&executor={{item.tags.alertExecutorId}}"> </a>
							{{item.tags.policyId}}
						</td>
						<td>{{item.alertContext.properties.user}}</td>
						<td>{{item.alertContext.properties.host}}</td>
						<td>{{item.alertContext.properties.alertMessage}}</td>
						<td><a href="#/dam/alertDetail/{{item.encodedRowkey}}">Detail</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<!--div class="box-footer clearfix">
	</div-->
</div>
