<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<div class="box box-primary">
	<div class="box-header with-border">
		<i class="fa fa-user"> </i>
		<h3 class="box-title">
			{{user}}
		</h3>
	</div>
	<div class="box-body">
		<div>
			<div class="inline-group">
				<dl><dt>User</dt><dd>{{user}}</dd></dl>
				<dl><dt>Site</dt><dd>{{site.current().name}}</dd></dl>
			</div>
			<div class="inline-group">
				<dl><dt>Other Info</dt><dd class="text-muted">N/A</dd></dl>
			</div>
		</div>

		<div class="overlay" ng-hide="profileList._promise.$$state.status === 1;">
			<span class="fa fa-refresh fa-spin"></span>
		</div>
	</div>
</div>

<!-- Analysis -->
<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="[data-id='DE']" data-toggle="tab">DE</a>
		</li>
		<li>
			<a href="[data-id='EigenDecomposition']" data-toggle="tab">EigenDecomposition</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" data-id="DE">
			<div class="row">
				<div class="col-md-9">
					<button class="btn btn-primary fixed-right" ng-click="showRawData(profiles.DE.content)">Raw Data</button>
					<div bar-chart height="400" data="profiles.DE._chart.series"> </div>
					<div class="inline-group text-center">
						<dl ng-repeat="(key, value) in profiles.DE.estimates"><dt>{{key}}</dt><dd>{{value}}</dd></dl>
					</div>
				</div>

				<div class="col-md-3">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Command</th>
								<th>Percentage</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="unit in profiles.DE.meanList">
								<td>{{unit.command}}</td>
								<td class="text-right">{{(unit.percentage*100).toFixed(2)}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div><!-- /.tab-pane -->
		<div class="tab-pane" data-id="EigenDecomposition">
			<button class="btn btn-primary fixed-right" ng-click="showRawData(profiles.EigenDecomposition.content)">Raw Data</button>
			<div line3d-chart height="400" data="profiles.EigenDecomposition._chart.series"> </div>
		</div><!-- /.tab-pane -->
	</div><!-- /.tab-content -->
</div>
