---
layout: page
---

<div class="container-fluid page-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1"> 
      <!-- sidebar -->
      <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
        <ul class="nav" id="adminnav">
        {% for doc in site.developments %} 
        <li class="heading">{{ doc.category }}</li>
        {% for link in doc.links %}
          <li class="sidenavli"><a href="{{ link.url }}" id="{{link.id}}">{{ link.title }}</a></li>
        {% endfor %}
        <li class="divider"></li>
      {% endfor %}
        </ul>
      </div>
      <div class="col-xs-6 col-sm-9 page-main-content" id="loadcontent">
        <h1 class="page-header" style="margin-top: 0px">{{ page.title }}</h1>
        {{ content }}
      </div><!--end of loadcontent-->  
    </div>
    <!--end of centered content--> 
  </div>
</div>
<!--end of container-->