@CHARSET "UTF-8";
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Frame */
body.no-sidebar .content-wrapper {
	margin-left: 0;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

/* Navigation */
.navbar-nav > .user-menu > .dropdown-menu > li.user-header .img-circle {
	display: inline-block;
	border: 3px solid;
	border-color: rgba(255,255,255,0.2);
	width: 90px;
	height: 90px;
	margin-top: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header .fa {
	font-size: 60px;
	color: rgba(255,255,255,0.8);
	margin-top: 10px;
}

/* Common */
a {
	cursor: pointer;
}

.table.table-sm>tbody>tr>td,
.table.table-sm>tbody>tr>th,
.table.table-sm>tfoot>tr>td,
.table.table-sm>tfoot>tr>th,
.table.table-sm>thead>tr>td,
.table.table-sm>thead>tr>th{
	padding: 3px 8px;
}

.table thead th .fa.fa-sort,
.table thead th .fa.fa-sort-asc,
.table thead th .fa.fa-sort-desc {
	margin-top: 5px;
	opacity: 0.3;
	float: right;
}
.table thead th:hover .fa.fa-sort,
.table thead th:hover .fa.fa-sort-asc,
.table thead th:hover .fa.fa-sort-desc {
	opacity: 0.8;
}

.table tr th,
.table tr td {
	-webkit-transition: background .5s linear;
	-o-transition: background .5s linear;
	transition: background .5s linear;
}

.sortTable-cntr .pagination {
	margin-top: 0;
}

.table th.input-field,
.table td.input-field {
	padding: 0;
	vertical-align: middle;
}

.table th.input-field > input,
.table td.input-field > input,
.table th.input-field > select,
.table td.input-field > select {
	border: none;
	transition: border-color 0s;
}

.table th.input-field > input:focus,
.table td.input-field > input:focus,
.table th.input-field > select:focus,
.table td.input-field > select:focus {
	box-shadow: inset 1px 1px 0px #3c8dbc, inset -1px -1px 0px #3c8dbc;
}

.table th.input-field > input.has-warning,
.table td.input-field > input.has-warning {
	box-shadow: inset 1px 1px 0px #f39c12, inset -1px -1px 0px #f39c12;
}

/* Box */
.small-box > a.inner {
	color: #FFF;
	display: block;
}

.small-box > a.inner h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 32px;
}

.info-box.bg-gray,
.info-box a {
	color: #FFFFFF;
}
.info-box a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.info-box-content a.config {
	color: rgba(255,255,255,0.8);
}
.info-box-content a.config:hover {
	color: #FFFFFF;
}

.info-box-content.box-clickable {
	box-shadow: 0 0 3px;
}
.box-clickable {
	cursor: pointer;
}

.info-box-content .info-box-text.text-large {
	font-size: 26px;
	margin: 5px 0 10px 0;
}


body .tooltip-inner {
	max-width: 500px;
}

.text-nowrap {
	white-space: nowrap;
}

.text-ellipsis,
.label.text-ellipsis {
	overflow:hidden;
	text-overflow:ellipsis;
	display: inline-block;
	white-space: nowrap;
	max-width: 100%;
}
td.text-ellipsis {
	display: table-cell;
}

.btn.btn-xs.sm {
	font-size: 12px;
	padding: 2px 6px;
}

.noSelect {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.inline-group dl,
.inline-group dl dt,
.inline-group dl dd {
	display: inline-block;
}

.inline-group dl {
	margin-right: 35px;
}
.inline-group dl dt {
	margin-right: 20px;
}

.inline-group.form-inline {
	margin-top: 5px;
}
.inline-group dl {
	margin-right: 25px;
}
.inline-group dl dt {
	margin-right: 5px;
}

.search-box {
	position: relative;
	margin-bottom: 15px;
}
.search-box input[type="search"] {
	padding-left: 26px;
}
.search-box .fa.fa-search {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 2;
	pointer-events: none;
	color: #999;
}

/* Navigation Tab */
.modal-body ul.nav.nav-tabs {
	border-bottom-color: #F4F4F4;
	margin-bottom: 15px;
}

.modal-body ul.nav.nav-tabs li {
	border-top: 3px solid #FFFFFF;
	margin-right: 3px;
}
.modal-body ul.nav.nav-tabs li.active {
	border-top-color: #3c8dbc;
}

.modal-body ul.nav.nav-tabs li > a,
.modal-body ul.nav.nav-tabs li > a:active,
.modal-body ul.nav.nav-tabs li > a:hover {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 6px 15px 8px 15px;
	color: #444;
}
.modal-body ul.nav.nav-tabs li:not(.active) > a:hover {
	background: rgba(0,0,0,0);
	color: #999;
}
.modal-body ul.nav.nav-tabs li.active > a {
	border-left: 1px solid #F4F4F4;
	border-right: 1px solid #F4F4F4;
}

/* Step Navigation */
.step-cntr .step {
	background: #3c8dbc;
	margin: 0 0 20px 0;
	color: #FFF;
	height: 60px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	display: block;

	-webkit-transition: background .15s linear;
	-o-transition: background .15s linear;
	transition: background .15s linear;
}
.step-cntr .step.active {
	background: #f39c12;
}

.step-cntr .step h1,
.step-cntr .step h2,
.step-cntr .step p {
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.step-cntr .step h1 {
	display: inline-block;
	font-size: 30px;
	float: left;
	border-right: 2px solid rgba(255,255,255,0.2);
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 12px;
	margin-right: 10px;
}
.step-cntr .step h2 {
	font-size: 18px;
	padding: 8px 0 5px 0;
}

/* Panel */
.panel-group.panel-group-sm .panel .panel-heading {
	padding: 5px 6px 5px 10px;
}
.panel-group.panel-group-sm .panel .panel-heading h4 {
	font-size: 14px;
}
.panel-group.panel-group-sm .panel .panel-heading h4 a {
	display: block;
}
.panel-group.panel-group-sm .panel .panel-heading .pull-right {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

/* Drop Down */
.dropdown-menu > li.danger > a {
	color: #dd4b39;
}
.dropdown-menu > li.danger > a:hover {
	color: #FFFFFF;
	background: #dd4b39;
}

/* Input Group */
.input-group .input-group-btn select {
	width: auto;
}

/* Form group */
.form-group .checkbox {
	display: inline;
	margin-right: 10px;
}

.form-group select.has-warning,
.form-group input.has-warning {
	border-color: #f39c12;
	box-shadow: none;
}

/* UL */
ul.path {
	margin-left: 0;
}

ul.path li {
	padding: 0;
	margin-right: 5px;
}
ul.path li a {
	color: #FFFFFF;
}

ul.tree {
	padding: 0 0 0 5px;
}

ul.tree > li,
ul.tree > li > ul > li {
	list-style-type: none;
}

ul.tree .tree-item .hover {
	display: none;
}
ul.tree .tree-item:hover .hover {
	display: inline-block;
}

ul.tree > li > ul {
	padding: 0 0 0 25px;
}

ul.tree > li > ul > li.active {
	background: #F4F4F4;
}

ul.tree.tree-bordered {
	border: 1px solid #f4f4f4;
}
ul.tree.tree-bordered,
ul.tree.tree-bordered > li > ul {
	padding: 0;
}
ul.tree.tree-bordered > li:not(:last-child) {
	border-bottom: 1px solid #f4f4f4;
}
ul.tree.tree-bordered > li > ul > li {
	border-top: 1px solid #f4f4f4;
}
ul.tree.tree-bordered > li > span,
ul.tree.tree-bordered > li > a {
	display: block;
	padding: 8px;
}
ul.tree.tree-bordered > li > ul > li > span,
ul.tree.tree-bordered > li > ul > li > a {
	display: block;
	padding: 8px 8px 8px 30px;
}

/* Label */
.label.label-default {
	color: #FFFFFF;
}

/* Chart */
.chart .chart-header h3 {
	text-align: center;
	margin: 10px 0 5px 0;
}
.chart .chart-body {
	height: 200px;
}

.chart .chart-body .axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.chart .chart-body .bar {
	fill: steelblue;
}

/* Tab */
body .tab-content>.tab-pane {
	display: block;
	height: 0px;
	overflow: hidden;
	position: relative;
}
body .tab-content>.tab-pane.active {
	height: auto;
	overflow-y: auto;
}

/* Customize */
#content {
	position: relative;
}

.page-fixed {
	position: absolute;
	top: -45px;
	right: 0;
}

@media (max-width:991px) {
	.page-fixed {
		top: -70px;
	}
}

.fixed-right {
	position: absolute;
	right: 0;
	z-index: 3;
}

.main-header .logo .logo-lg small {
	font-size: 12px;
}

#timeRangePickerCntr .navbar-form {
	display: inline-block;
	padding-right: 0;
}

#timeRangePickerCntr #timeRangePicker {
	min-width: 300px;
}

body .login-box, body .register-box {
	margin: 3% auto;
}

.content-header > .breadcrumb > li {
	font-size: 14px;
}

.daterangepicker .ranges {
  width: 110px!important;
}
.daterangepicker .daterangepicker_start_input,
.daterangepicker .daterangepicker_end_input {
	display: block!important;
	padding: 0!important;
	float: none!important;
}
.daterangepicker .daterangepicker_start_input .input-mini,
.daterangepicker .daterangepicker_end_input .input-mini {
	width: 110px!important;
}

.form-group.inner-icon {
	position: relative;
}
.form-group.inner-icon .fa {
	position: absolute;
	left: 10px;
	top: 10px;
}
.form-group.inner-icon input {
	padding-left: 35px;
}

#autoRefreshCntr > a {
	border: none;
	opacity: 0.3;
}
#autoRefreshCntr.autoRefresh > a {
	opacity: 1;
}

.table-responsive .row {
	margin: 0;
}


.content .miao-chart {
	border: none;
	margin: 0;
}

.content .miao-chart .box .chart-entity-title {
	height: auto;
	margin: 0;
}

.content .miao-chart .chart-entity-menu {
	display: block;
	top: 5px;
	right: 25px;
}

.content .miao-chart .box .chart-entity-menu {
	display: block;
	top: 5px;
	right: 25px;
	padding-right: 10px;
	border-right: 1px solid #f4f4f4;
}

.content .miao-chart .box .chart-entity-drillDownPath .drillDownPath {
	position: static;
}

.content .miao-chart[data-miao-drilldown-depth='0'] .box .box-footer {
	display: none;
}
