@CHARSET "UTF-8";
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

a {
	cursor: pointer;
}

/* ========================================================================
 * =                               Side Bar                               =
 * ======================================================================== */
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini > img {
	max-height: 30px;
}

.main-sidebar .customize-panel {
	padding: 10px;
}

.sidebar-collapse .main-sidebar .customize-panel {
	display: none;
}

.main-sidebar .customize-panel .btn-group,
.main-sidebar .customize-panel .btn-group button,
.main-sidebar .customize-panel .btn-group .dropdown-menu {
	width: 100%;
}

.main-sidebar .customize-panel .btn-group button {
	padding: 5px;
	background: #374850;
	border: none;
	overflow-x: hidden;
}
.main-sidebar .customize-panel .btn-group.open button{
	background: #455b63;
}

.main-sidebar .customize-panel .btn-group button .caret {
	position: absolute;
	right: 10px;
	top: 13px;
}

/* ========================================================================
 * =                                 Main                                 =
 * ======================================================================== */
#content {
	position: relative;
}

/* ========================================================================
 * =                                 Grid                                 =
 * ======================================================================== */

@media (min-width: 1200px) {
	.row.flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
	}

	.row.flex > [class*='col-'] {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.row.flex > [class*='col-'] > * {
		flex: auto;
	}
}

.row.border-split > div {
	border: 1px solid #f4f4f4;
}

.no-padding > .row.border-split {
	margin-left: 0;
	margin-right: 0;
}

/* ========================================================================
 * =                                Table                                 =
 * ======================================================================== */
table .info-wrapper .info-detail {
	display: none;
}

table .info-wrapper:hover .info-detail {
	display: table-row;
}

table ul {
	padding: 0 0 0 20px;
}

table.table pre {
	white-space: pre-wrap;
	margin: 0;
}

table.table pre.inline {
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

table.table .btn-group .btn.opt {
	width: 22px;
}

table.table.table-sm th,
table.table.table-sm td {
	padding: 3px 5px;
	line-height: 120%;
}

/* ========================================================================
 * =                              Step Guide                              =
 * ======================================================================== */
ul.stepGuide {
	padding: 0;
	position: relative;
	display: inline-block;
}
ul.stepGuide:before {
	display: block;
	height: 6px;
	background: #f4f4f4;
	content: "";
	position: absolute;
	top: 12px;
	left: 5px;
	right: 5px;
}

ul.stepGuide li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
ul.stepGuide li:not(:first-child) {
	margin-left: 15px;
}

ul.stepGuide li > .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f4f4f4;
	border-radius: 100%;
}

ul.stepGuide li > .title {
	display: block;
}

/* ========================================================================
 * =                                Input                                 =
 * ======================================================================== */
.input-with-icon {
	position: relative;
	margin-bottom: 10px;
}

.input-with-icon .fa {
	position: absolute;
	left: 10px;
	top: 10px;
	pointer-events: none;
	opacity: 0.6;
}

.input-with-icon input {
	padding-left: 28px;
}

/* ========================================================================
 * =                                Policy                                =
 * ======================================================================== */
.policy-app-list > a {
	display: block;
	font-size: 18px;
}

.policy-app-list > ul {
	margin: 0;
	padding: 0 0 0 5px;
}

.policy-app-list > ul > li input[type='checkbox'] {
	vertical-align: middle;
	margin: 0;
}

/* ========================================================================
 * =                                 Box                                  =
 * ======================================================================== */
.box .box-title .label {
	font-size: 12px;
	padding: 1px 7px;
}

.small-box {
	position: relative;
	padding-bottom: 30px;
}

.small-box > .inner a {
	color: #FFFFFF;
}

.small-box > .inner a:hover {
	text-decoration: underline;
}

.small-box > .small-box-footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.small-box.bg-gray {
	color: #666;
}

	/* ========================================================================
     * =                                 Tab                                  =
     * ======================================================================== */
.tab-content.keepContent > .tab-pane {
	display: block;
}

.tab-content.keepContent > .tab-pane:not(.active) {
	max-height: 0;
	overflow: hidden;
}

/* ========================================================================
 * =                                Modal                                 =
 * ======================================================================== */
.modal .nav-tabs li {
	border-top: 3px solid transparent;
}

.modal .nav-tabs li.active {
	border-top-color: #3c8dbc;
}

.modal .nav-tabs li a {
	padding: 8px 15px;
	border-radius: 0;
	margin: 0;
}

.modal .nav-tabs li a,
.modal .nav-tabs li.active a,
.modal .nav-tabs li:hover a {
	border-top: 0;
}

.modal .tab-content {
	padding-top: 10px;
}

/* ========================================================================
 * =                               Call out                               =
 * ======================================================================== */
.callout p,
.callout span {
	color: #FFF;
}

/* ========================================================================
 * =                                 list                                 =
 * ======================================================================== */
.list-inline > li > .label {
	margin-bottom: 2px;
	display: inline-block;
}

ul.sm-padding {
	padding: 0 0 0 25px;
}

ul.sm-padding > li {
	list-style: circle;
}

/* ========================================================================
 * =                                 label                                =
 * ======================================================================== */
.label.label-sm {
	padding: .1em .4em .2em;
}

/* ========================================================================
 * =                               Timeline                               =
 * ======================================================================== */
.nav-tabs-custom .timeline li.disabled {
	opacity: .5;
	pointer-events: none;
}

.nav-tabs-custom .timeline li .timeline-item {
	background: #f4f4f4;
}

.nav-tabs-custom .timeline li .timeline-item ul.with-margin {
	margin: 0 0 10px 15px;
}

.nav-tabs-custom .timeline li .timeline-item .inner-block {
	border: 1px solid #CCC;
	padding: 10px;
	margin: 0 0 15px 15px;
}

.nav-tabs-custom .timeline li .timeline-item ul.block-list li {
	margin-bottom: 10px;
}
.nav-tabs-custom .timeline li .timeline-item ul.block-list li:last-child {
	margin-bottom: 0;
}

.nav-tabs-custom .timeline li .timeline-item ul.block-list li:not(.no-decorate) {
	background: #DEDEDE;
	padding: 10px;
	line-height: 150%;
}

.nav-tabs-custom .timeline li .timeline-item ul.block-list li:not(.no-decorate) p {
	margin: 0;
}

/* ========================================================================
 * =                                Widget                                =
 * ======================================================================== */
@media (min-width: 1200px) {
	.row.flex div[widget] {
		height: 100%;
	}
}

/* ========================================================================
 * =                                 Misc                                 =
 * ======================================================================== */
.ng-hide.ng-hide-animate.no-animate {
	-webkit-transition: none !important;
	transition: none !important;
}

.ng-hide.ng-hide-animate.no-animate {
	display: none;
}

.text-break {
	word-break:break-all;
}

.text-no-break {
	white-space: nowrap;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bsc-datepicker {
	z-index: 2000;
}
