<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<h2>Welcome to using Apache Eagle!</h2>
<p class="lead">
	As the first installation, please create a <code>SITE</code>.
	(A site is a cluster/service which you want to monitor, as a quick start, you could use <code>sandbox</code> by default)
</p>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Create new site</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<label>Site Name</label>
			<input class="form-control" placeholder="A site is a cluster/service which you want to monitor, use 'sandbox' by default " value="sandbox">
		</div>
	</div>
	<div class="box-footer text-right">
		<button class="btn btn-primary">Next</button>
	</div>
</div>