<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<div class="box box-primary">
	<div class="box-header with-border">
		<span class="fa fa-bell"></span>
		<h3 class="box-title">
			<strong>[{{alert.tags.category}}]</strong> {{alert.alertSubject}}
			<span class="fa fa-refresh fa-spin no-animate" ng-show="!alertList._done"></span>
		</h3>
	</div>
	<div class="box-body">
		<table class="table">
			<tbody>
				<tr>
					<th>Severity</th>
					<td><span class="label label-{{Policy.getSeverityClass(alert.tags.severity)}}">{{alert.tags.severity}}</span></td>
					<th width="15%">Time</th>
					<td width="35%">{{Time.format(alert.timestamp)}}</td>
				</tr>
				<tr>
					<th>Category</th>
					<td>{{alert.tags.category}}</td>
					<th>Site</th>
					<td>{{alert.tags.siteId}}</td>
				</tr>
				<tr>
					<th>Message</th>
					<td colspan="3">
						<div ng-bind-html="alertBody"></div>
					</td>
				</tr>
				<tr>
					<th>Alert Policy</th>
					<td colspan="3"><a ui-sref="policyDetail({name: item.policyId})">{{alert.tags.policyId}}</a></td>
				</tr>
				<tr>
					<th>Alert Event</th>
					<td colspan="3">
						<pre>{{alert.alertData | json}}</pre>
					</td>
				</tr>
				<tr>
					<th>Related Apps</th>
					<td colspan="3">
						<ul>
							<ul class="list-unstyled">
								<li ng-repeat="app in alert.appIds track by $index" class="label label-sm label-default">
									{{Application.findProvider(app).type || app}}
								</li>
							</ul>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
