<div class="topbar">
    <div class="container">
      <div class="row" >
        <nav class="navbar navbar-default">
          <div class="container-fluid"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" height="44px" style="margin-top:-7px"></a> </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right" id="top-menu">
                <li><a class="menu" href="{{ "/#home_page" | prepend: site.baseurl }}">HOME</a></li>
                <li><a class="menu" href="{{ "/docs/" | prepend: site.baseurl }}">DOCS</a></li>
                <li><a class="menu" href="{{ "/#about_page" | prepend: site.baseurl }}">ABOUT</a></li>
                <li><a class="menu" href="{{ "/#diagram_page" | prepend: site.baseurl }}">ARCHITECTURE</a></li>
                <li><a class="menu" href="{{ "/#modules_page" | prepend: site.baseurl }}">MODULES</a></li>
                <li><a class="menu" href="{{ "/#usecase_page" | prepend: site.baseurl }}">USE CASES</a></li>
                <li>
                </li>
              </ul> -->
            </div>
          </div>
          <!-- /.container-fluid --> 
        </nav>
      </div>
    </div>
  </div>