<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<div class="row">
	<div class="col-sm-12 col-md-5 col-lg-3">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Configure</h3>
			</div>
			<div class="box-body">
				<div class="form-group">
					<label>Site</label>
					<select class="form-control" ng-model="site">
						<option ng-repeat="site in Site.list track by $index" value="{{site.siteId}}">
							{{site.siteName || site.siteId}}
						</option>
					</select>
				</div>
				<div class="form-group">
					<label>Metric Name</label>
					<select class="form-control" ng-model="metricName">
						<option ng-repeat="metric in metricList track by metric">{{metric}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Groups</label>
					<input type="text" class="form-control" ng-model="groups" placeholder="e.g. 'site'" />
				</div>
				<div class="form-group">
					<label>Fields</label>
					<input type="text" class="form-control" ng-model="fields" placeholder="e.g. 'avg(value), sum(value) desc'" />
				</div>
				<!--div class="form-group">
					<label>Interval Minutes</label>
					<input type="text" class="form-control" ng-model="intervalmin" />
				</div-->
			</div>
			<div class="box-footer text-right">
				<button class="btn btn-primary" ng-click="loadSeries()">Apply</button>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-7 col-lg-9">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Preview</h3>
			</div>
			<div class="box-body">
				<div chart style="height: 400px;" series="series" option="commonOption"></div>
			</div>
		</div>
	</div>
</div>
