<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<style>
	.datePickerGroup {
		float: right;
	}

	.datePickerGroup > input {
		width: 150px;
		display: inline-block;
		float: left;
	}
	.datePickerGroup > .addon {
		float: left;
		display: inline-block;
		border-top: 1px solid #d2d6de;
		border-bottom: 1px solid #d2d6de;
		padding: 6px;
		height: 34px;
		background: #f4f4f4;
	}
</style>


<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Job List
			<span ng-hide="jobList._done" class="fa fa-refresh fa-spin no-animate"></span>
		</h3>
	</div>
	<div class="box-body">
		<div sort-table="jobList">
			<div class="datePickerGroup clearfix">
				<input id="startTime" type="text" class="form-control" data-toggle="datepicker" />
				<span class="addon">To</span>
				<input id="endTime" type="text" class="form-control" data-toggle="datepicker" data-position="right" />
			</div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th sortpath="tags.jobId">Job</th>
						<th sortpath="currentState">Status</th>
						<th sortpath="tags.user">User</th>
						<th sortpath="tags.queue">Queue</th>
						<th sortpath="submissionTime">Submission Time</th>
						<th sortpath="startTime">Execution Time</th>
						<th sortpath="duration">Duration</th>
						<th sortpath="numTotalMaps">Map Tasks</th>
						<th sortpath="numTotalReduces">Reduce Tasks</th>
						<th sortpath="runningContainers">Allocated Containers</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in jobList">
						<td>
							<a ui-sref="jpmDetail({siteId: site, jobId: item.tags.jobId})">{{item.tags.jobId}}</a>
						</td>
						<td class="text-center">
							<span class="label label-{{getStateClass(item.currentState)}}">
								{{item.currentState}}
							</span>
						</td>
						<td>{{item.tags.user}}</td>
						<td>{{item.tags.queue}}</td>
						<td>{{Time.format(item.submissionTime)}}</td>
						<td>{{Time.format(item.startTime)}}</td>
						<td>{{Time.diffStr(item.duration)}}</td>
						<td>{{item.numTotalMaps}}</td>
						<td>{{item.numTotalReduces}}</td>
						<td>{{item.runningContainers || "-"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
