<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<style>
	.datePickerGroup {
		float: right;
		margin: -7px;
	}

	.datePickerGroup > input {
		width: 135px;
		display: inline-block;
		float: left;
		height: 32px;
		padding: 2px 7px;
	}
	.datePickerGroup > .addon {
		float: left;
		display: inline-block;
		border-top: 1px solid #d2d6de;
		border-bottom: 1px solid #d2d6de;
		padding: 5px;
		height: 32px;
		width: 30px;
		text-align: center;
		background: #f4f4f4;
	}
	.datePickerGroup > button {
		float: left;
		height: 32px;
		padding: 5px 10px;
		border-radius: 0;
		border-left: 0;
	}

	.box .box-header .box-title small a {
		cursor: pointer;
		padding: 0 5px;
		border-right: 1px solid #999;
	}
	.box .box-header .box-title small a:last-child {
		border-right: none;
	}
	.box .box-header .box-title small a.text-default {
		color: #999;
	}

	.box .box-header .box-title small a.active {
		font-weight: bolder;
		text-decoration: underline;
	}

	.jpm-chart,
	.jpm-chart-container {
		height: 300px;
		position: relative;
	}
</style>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Job List
			<small>
				<a class="no-select text-{{getStateClass(state.key)}}" ng-class="{active: (tableScope.search || '').toUpperCase() === state.key}"
					  ng-repeat="state in jobStateList" ng-click="fillSearch(state.key)">
					{{state.key}}: {{state.value}}
				</a>
			</small>
			<span ng-show="!jobList._done || isSorting" class="fa fa-refresh fa-spin no-animate"></span>
		</h3>

		<div class="datePickerGroup clearfix">
			<input id="startTime" type="text" class="form-control" data-toggle="datepicker" ng-model="startTimeInput" />
			<span class="addon">To</span>
			<input id="endTime" type="text" class="form-control" data-toggle="datepicker" data-position="right" ng-model="endTimeInput" />
			<button class="btn btn-primary" ng-disabled="!checkDateRange()" ng-click="changeDateRange()">Go</button>
		</div>
	</div>
	<div class="box-body">
		<div id="jobList" sort-table="jobList" is-sorting="isSorting" search-path-list="searchPathList" scope="tableScope">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th sortpath="tags.jobId">Job ID</th>
						<th sortpath="currentState">Status</th>
						<th sortpath="tags.user" width="10">User</th>
						<th sortpath="tags.queue">Queue</th>
						<th sortpath="submissionTime">Submission Time</th>
						<th sortpath="startTime">Start Time</th>
						<th sortpath="endTime">End Time</th>
						<th sortpath="duration">Duration</th>
						<th sortpath="numTotalMaps">Map Tasks</th>
						<th sortpath="numTotalReduces">Reduce Tasks</th>
						<th sortpath="runningContainers">Containers</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in jobList">
						<td>
							<a ui-sref="jpmDetail({siteId: site, jobId: item.tags.jobId})" target="_blank">{{item.tags.jobId}}</a>
						</td>
						<td class="text-center">
							<span class="label label-sm label-{{getStateClass(item.currentState)}}">
								{{item.currentState}}
							</span>
						</td>
						<td>{{item.tags.user}}</td>
						<td>{{item.tags.queue}}</td>
						<td>{{Time.format(item.submissionTime)}}</td>
						<td>{{Time.format(item.startTime)}}</td>
						<td>{{Time.format(item.endTime)}}</td>
						<td>{{Time.diffStr(item.duration)}}</td>
						<td>{{item.numTotalMaps}}</td>
						<td>{{item.numTotalReduces}}</td>
						<td>{{item.runningContainers || "-"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Running Job Trend
		</h3>
	</div>
	<div class="box-body">
		<div class="jpm-chart">
			<div chart class="jpm-chart-container" series="runningTrendSeries" ng-click="jobTrendClick"></div>
		</div>
	</div>
</div>
