<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<div class="box box-primary">
    <div class="box-header with-border">
        <span class="fa fa-television"></span>
        <h3 class="box-title">
            System Summary Information
        </h3>
    </div>
    <div class="box-body">
        <table class="table table-striped hadoopMetric-table">
            <tr>
                <th width="20%">
                    Server Node
                </th>
                <th width="80%">
                    <span ng-show="!systemactivenum && !systemwarningnum && !systemerrornum">0</span>
                    <span ng-show="systemactivenum===-1 || systemwarningnum===-1 || systemerrornum===-1">N/A</span>
                    <a ui-sref="serverList({siteId: site})">
                        <span ng-show="systemactivenum!==-1 && systemwarningnum!==-1 && systemerrornum!==-1">{{systemactivenum+systemwarningnum+systemerrornum}}</span>
                    </a>
                    <span class="label label-primary">Total</span> /
                    <a ui-sref="serverList({siteId: site, status:'active'})">
                        <span ng-show="systemactivenum !== -1">{{systemactivenum || 0}}</span>
                    </a>
                    <span ng-show="systemactivenum === -1">N/A</span>
                    <span class="label label-success">Health</span> /
                    <a ui-sref="serverList({siteId: site, status:'warning'})">
                        <span ng-show="systemwarningnum !== -1">{{systemwarningnum || 0}}</span>
                    </a>
                    <span ng-show="systemwarningnum === -1">N/A</span>
                    <span class="label label-warning">Warning</span> /
                    <a ui-sref="serverList({siteId: site, status:'error'})">
                        <span ng-show="systemerrornum !== -1">{{systemerrornum || 0}}</span>
                    </a>
                    <span ng-show="systemerrornum === -1">N/A</span>
                    <span class="label label-danger">Unhealth</span>
                </th>
            </tr>
            <tr>
                <th>Cores</th>
                <th>
                    <div ng-repeat="core in coresList">
                        <a ui-sref="serverList({siteId: site, cores: core.key[0]})">
                            <span>{{core.value[0]}}</span>
                        </a>
                        <span class="label label-primary">{{core.key[0]}} cores</span>
                    </div>
                    <span ng-show="!coresList">N/A</span>
                </th>
            </tr>
            <tr>
                <th>Disk Usage</th>
                <th>
					<span>
                        <span ng-show="usedDiskGB !== -1">{{usedDiskGB || 0}} GB / </span> 
                        <span ng-show="!totalDiskGB === -1">N/A /</span>
						<span ng-show="totalDiskGB !== -1">{{totalDiskGB || 0}} GB</span>
                        <span ng-show="!usedDiskGB === -1">N/A</span>
					</span>
                </th>
            </tr>
            <tr>
                <th>Memory</th>
                <th>
                    <span>
                        <span ng-show="usedMemoryMB !== -1">{{usedMemoryMB || 0}} MB / </span> 
                        <span ng-show="!usedMemoryMB === -1">N/A /</span>
                        <span ng-show="totalMemoryMB !== -1">{{totalMemoryMB || 0}} MB</span>
                        <span ng-show="!totalMemoryMB === -1">N/A</span>
                    </span>
                </th>
            </tr>
        </table>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <span class="fa fa-line-chart"></span>
        <h3 class="box-title">
            Metrics
        </h3>
    </div>
    <div class="box-body no-padding">
        <div class="row border-split">
            <div class="col-sm-6 col-md-4 col-lg-6" ng-repeat="chart in chartList track by $index">
                <div class="hadoopMetric-chart">
                    <h3>{{metricList[chart.name].title}}</h3>
                    <div ng-show="metricList[chart.name].loading" chart class="hadoopMetric-chart-container"></div>
                    <div ng-show="metricList[chart.name].loading" class="overlay-wrapper">
                        <div class="overlay">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                    <div ng-show="metricList[chart.name].series.length" chart class="hadoopMetric-chart-container"
                         series="metricList[chart.name].series"
                         option="metricList[chart.name].option"></div>
                    <div ng-show="!metricList[chart.name].series.length && !metricList[chart.name].loading" class="hadoopMetric-chart-container">
                        <div class="hadoopMetric-chart-container-withborder">
                            <div class="hadoopMetric-no-chart-data">
                                <span class="fa fa-question-circle"></span><span> NO DATA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>