<!-- footer start -->
<div class="footerwrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><div style="margin-left:auto; margin-right:auto; text-align:center;font-size: 12px">
<div>
Apache Eagle is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.
</div>
<div>
<a href="http://www.apache.org">
<img id="asf-logo" alt="Apache Software Foundation" src="/images/apache-logo-small.gif">
</a>
<a href="http://incubator.apache.org">
<img id="incubator-logo" alt="Apache Incubator" src="/images/apache-incubator-logo-small.png">
</a>
</div>
<div>
Copyright © 2015 <a href="http://www.apache.org">The Apache Software Foundation</a>, Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
</div>
<div>
Apache Eagle, Eagle, Apache, the Apache feather logo, and the Apache Incubator project logo are trademarks of The Apache Software Foundation.
</div>
      </div></div>
    </div>
  </div>
</div>
<!-- footer end --> 

<!-- JavaScripts -->
<script src="{{ "/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.singlePageNav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.flexslider.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/modernizr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/svg.js" | prepend: site.baseurl }}"></script>
<script>
    /************** FlexSlider *********************/
    $('.flexslider').flexslider({
        animation: "fade",
        directionNav: false
    });
</script>