<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">
			<span class="fa fa-cogs"></span>
			Configuration
			<small class="text-danger" ng-show="changed">
				<span class="label label-warning label-sm">Unsaved</span>
			</small>
		</h3>
	</div><!-- /.box-header -->

	<div class="box-body">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li class="disabled"><a>Application</a></li>
					<li role="presentation" ng-repeat="_application in Application.list track by $index" ng-class="{active: application === _application}">
						<a ng-click="setApplication(_application)">
							<span class="fa fa-server"></span>
							{{_application.tags.application}}
							<span ng-if="_application.alias">({{_application.alias}})</span>
						</a>
					</li>

					<li>
						<a class="text-light-blue" ng-click="newApplication()" ng-disabled="_pageLock">
							<span class="fa fa-plus-square"></span>
							New Application
						</a>
					</li>
				</ul>
			</div>

			<div class="col-md-9">
				<a class="pull-right btn btn-danger btn-xs" ng-click="deleteApplication(application)" ng-disabled="_pageLock">
					<span class="fa fa-trash-o"></span>
					Delete Application
				</a>

				<!-- Title -->
				<h3 class="guideline">
					Application
					<small>{{application.tags.application}}</small>
				</h3>
				<hr/>

				<!-- Config -->
				<div class="form-group">
					<label for="displayName">Display Name</label>
					<input type="text" class="form-control" id="displayName" placeholder="(Optional) Display name." ng-model="applications[application.tags.application].alias">
				</div>
				<div class="form-group">
					<label for="applicationGroup">Group</label>
					<input type="text" class="form-control" id="applicationGroup" placeholder="(Optional) Group name" ng-model="applications[application.tags.application].groupName">
				</div>
				<div class="form-group">
					<label for="applicationDescription">Description</label>
					<textarea id="applicationDescription" class="form-control" placeholder="(Optional) Application description" rows="2" ng-model="applications[application.tags.application].description"></textarea>
				</div>
				<div class="form-group">
					<label for="applicationConfiguration">Configuration</label>
					<span class="text-danger">{{configCheck(applications[application.tags.application].config)}}</span>
					<textarea id="applicationConfiguration" class="form-control" placeholder="Application configuration. Feature can read this " rows="5" ng-model="applications[application.tags.application].config"></textarea>
				</div>

				<!-- Feature -->
				<label>* Feature</label>
				<div class="row">
					<div class="col-sm-6">
						<h1 class="text-muted text-center" ng-show="applications[application.tags.application].features.length === 0">No feature in using</h1>
						<ul class="products-list product-list-in-box fixed-height" ng-show="applications[application.tags.application].features.length !== 0">
							<li class="item" ng-repeat="feature in applications[application.tags.application].features track by $index" ng-class="{active: _feature === feature}">
								<div class="product-operation">
									<a class="fa fa-chevron-up" ng-click="moveFeature(feature, applications[application.tags.application].features, -1)"></a>
									<a class="fa fa-chevron-down" ng-click="moveFeature(feature, applications[application.tags.application].features, 1)"></a>
								</div>
								<div class="product-info">
									<a class="fa fa-times pull-right" ng-click="removeFeature(feature, applications[application.tags.application])"></a>
									<span class="product-title">{{feature}}</span>
									<span class="product-description">{{Application.featureList.set[feature].description}}</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="products-list product-list-in-box fixed-height">
							<li class="item" ng-repeat="feature in applications[application.tags.application].optionalFeatures track by $index">
								<button class="btn btn-lg btn-primary pull-left" ng-click="addFeature(feature, applications[application.tags.application])" ng-disabled="_pageLock">
									<span class="fa fa-star-o"></span>
								</button>
								<div class="product-info">
									<span class="product-title">{{feature}}</span>
									<span class="product-description">{{Application.featureList.set[feature].description}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.box-body -->

	<div class="box-footer clearfix">
		<button class="btn btn-primary" ng-click="saveAll()" ng-disabled="_pageLock">Save All</button>
	</div>
</div>