<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<div class="login-box">
	<div class="login-logo">
		<a href="#/">Apache Eagle</a>
	</div>

	<div class="login-box-body" ng-show="!loginSuccess">
		<p class="login-box-msg">Sign in to start your session</p>
		<div class="form-group has-feedback">
			<input type="text" class="form-control" placeholder="User Name" ng-model="username" ng-keypress="login($event)" autocomplete="off" id="username">
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<input type="password" class="form-control" placeholder="Password" ng-model="password" ng-keypress="login($event)">
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<div class="checkbox">
					<label> <input type="checkbox" ng-checked="rememberUser" ng-click="rememberUser = !rememberUser;" /> Remember Me
					</label>
				</div>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-primary btn-block btn-flat" ng-click="login($event, true)" ng-disabled="lock">Sign In</button>
			</div>
		</div>
	</div>

	<div class="login-box-body text-center" ng-show="loginSuccess">
		<p class="login-box-msg">Login success</p>
		<p>
			<span class="fa fa-refresh fa-spin"></span>
			Loading environment...
		</p>
	</div>
</div>