<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<div ng-controller="sensitivityHDFSCtrl">
	<ul class="list-inline path">
		<li>Path:</li>
		<li ng-repeat="unit in pathUnitList">
			<a ng-click="updateItems(unit.path)" class="label bg-black">{{unit.name}}</a>
		</li>
	</ul>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th width="15%">File Name</th>
				<th width="10%">Owner</th>
				<th width="10%">Group</th>
				<th>Sensitivity Type</th>
				<th width="10" ng-show="auth.isRole('ROLE_ADMIN')"> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="items._promise.$$state.status !== 1">
				<td colspan="5">
					<span class="fa fa-refresh fa-spin"> </span>
					Loading...
				</td>
			</tr>
			<tr ng-show="items._promise.$$state.status === 1 && !items.length">
				<td colspan="5">
					<span class="fa fa-exclamation-triangle"> </span>
					Empty Folder
				</td>
			</tr>
			<tr ng-repeat="item in items" ng-class="{warning : item.sensitiveType}">
				<td>
					<span ng-show="!item.isdir">
						<span class="fa fa-file"> </span>
						{{getFileName(item)}}
					</span>
					<a ng-show="item.isdir" ng-click="updateItems(item.resource)">
						<span class="fa fa-folder"> </span>
						{{getFileName(item)}}
					</a>

					<span class="pull-right" ng-show="item.childSensitiveTypes.length">
						<span class="fa fa-dot-circle-o text-muted" tooltip="Contain child sensitivity defination"> </span>
					</span>
				</td>
				<td>{{item.owner}}</td>
				<td>{{item.group}}</td>
				<td>{{item.sensitiveType}}</td>
				<td ng-show="auth.isRole('ROLE_ADMIN')">
					<button class="fa fa-eye btn btn-primary btn-xs" ng-click="markSensitivity(item)" ng-show="!item.sensitiveType"
					tooltip="Mark as sensitivity data" tooltip-animation="false" tooltip-placement="left"> </button>
					<button class="fa fa-eye-slash btn btn-warning btn-xs" ng-click="unmarkSensitivity(item)" ng-show="item.sensitiveType"
					tooltip="Remove the sensitivity mark" tooltip-animation="false" tooltip-placement="left"> </button>
				</td>
			</tr>
		</tbody>
	</table>


	<!-- Modal: Create / Edit site -->
	<div class="modal fade" id="sensitivityHdfsMDL" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Mark Sensitivity Data</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Resource</label>
						<input type="text" readonly="readonly" class="form-control" ng-model="_markItem.tags.filedir" />
					</div>
					<div class="form-group">
						<label>* Sensitivity Type</label>
						<input type="text" class="form-control" ng-model="_markItem.sensitivityType" id="hdfsSensitiveType" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary" ng-click="confirmUpateSensitivity()" ng-disabled="!_markItem.sensitivityType">
						Update
					</button>
				</div>
			</div>
		</div>
	</div>

</div>