# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ATTEMPT_TIMEOUT = false|AttemptID:\S+ Timed out after \d+ secs
INTERFACE_EXPECTED = false|but interface was expected
FILE_NOT_EXIST = false|File does not exist
HIVE_BAD_SCHEMA_EXCEPTION = false|Caused by: org.apache.hadoop.hive.serde2.avro.BadSchemaException
CONNECTION_RESET_BY_PEER = false|Connection reset by peer
CONTAINER_KILLED_BY_APPMASTER = false|Container killed by the ApplicationMaster
CONTAINER_CLEANUP_FAILURE = false|cleanup failed for container container_
USER_NOT_FOUND = false|User \S+ not found
TASK_TREE_BEYOND_MEMORY_LIMIT = false|^TaskTree \S+ is running beyond memory-limits
EBAY_APPMON_LOG_GET_TRAVERSER = false|^Error: com.ebay.appmon.log.traverser.LogTraverser.getTraverser
MAP_OUTPUT_LOST = false|Map output lost
BEYOND_PHYSICAL_MEMORY_LIMITS = false|running beyond physical memory limits
GC_OVERHEAD_LIMIT_EXCEEDED = false|GC overhead limit exceeded
NO_SPACE_LEFT = false|No space left
MKDIR_FAILURE = false|mkdir of file:\S+ failed
KILLED_CLEAN_BY_USER = false|Task has been KILLED by the user
KILLED_UNCLEAN_BY_USER = false|Task has been KILLED_UNCLEAN by the user
FAILED_TO_REPORT_STATUS = false|failed to report status for \d+ seconds. Killing
EXCEPTION_FROM_CONTAINER_LAUNCH = false|^Exception from container-launch
LOST_TASK_TRACKER = false|^Lost task tracker
TOO_MANY_FETCH_FAILURES = false|^Too many fetch-failures$
JAVA_HEAP_SPACE = false|$Error: Java heap space$
JAVA_EXCEPTION = true|^(?:error: Error: |Error: )?(\S+Exception|\S+Error)
JAVA_THROWABLE = false|^(?:error: Error: |Error: )?java.lang.Throwable
NO_DETAIL = false|^$
UNKNOWN = false|.*